@model IEnumerable<prjFinalProject.Models.TableCenters1081753>

@{
    ViewBag.Title = "新增藝文中心";
}

<h2>新增藝文中心</h2>
<form method="post" action="@Url.Action("Create")">
    <div class="form-horizontal">
        <hr />
    <div class="form-group">
        <label for="Code" class="control-label col-md-2">場域代號</label>
        <div class="col-md-10">
            <input type="text" id="Code" name="Code" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="CNName" class="control-label col-md-2">場域中文名稱</label>
        <div class="col-md-10">
            <input type="text" id="CNName" name="CNName" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="ENName" class="control-label col-md-2">場域英文名稱</label>
        <div class="col-md-10">
            <input type="text" id="ENName" name="ENName" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Adress" class="control-label col-md-2">場域地址</label>
        <div class="col-md-10">
            <input type="text" id="Adress" name="Adress" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Year" class="control-label col-md-2">場域年分</label>
        <div class="col-md-10">
            <input type="text" id="Year" name="Year" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Genre" class="control-label col-md-2">場域種類</label>
        <div class="col-md-10">
            <select id="Genre" name="Genre" class="form-control">
                <option>音樂廳</option>
                <option>歌劇院</option>
                <option>文化藝術中心</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="control-label col-md-2">場域電話</label>
        <div class="col-md-10">
            <input type="text" id="phone" name="phone" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit"value="新增" class="btn btn-default" />
        </div>
    </div>
   </div>
</form>