
@{
    ViewBag.Title = "首頁";
}

<h2>首頁</h2>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/LaTraviata.jpg" style="width:2000px;height:500px">
            <div class="carousel-caption">
                <h1>茶花女 旗艦歌劇~經典再現</h1>
                <p class="lead">今年春天，再次與你我相遇在高雄衛武營</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/NOTREDAMEDEPARIS.jpg" style="width:2000px;height:500px">
            <div class="carousel-caption">
                <h1>鐘樓怪人 經典法語音樂劇</h1>
                <p class="lead">今年五月和六月，台北、高雄讓我們回到巴黎</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Left.jpg" style="width:2000px;height:500px">
            <div class="carousel-caption">
                <h1>聲林新人 李友廷Live Tour</h1>
                <p class="lead">如果你也愛我就好了，台北Lagcy、台中Legacy、高雄Liveware House(高流)</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Lostandfound.jpg" style="width:2000px;height:500px">
            <div class="carousel-caption">
                <h1>唱作俱佳新人樂團 告五人台灣巡迴</h1>
                <p class="lead">在這座城市遺失了你，台北、台中、高雄、宜蘭加場，I will find you...</p>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<hr>
<center><h3><strong><span class="text-6">資訊與活動</span></strong></h3></center>
<h1></h1>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <img class="img-circle" src="~/images/KMC2.jpg" width="160" height="160">
            <h3>流行樂的指標</h3>
            <p>高雄流行音樂中心與台北流行音樂中心</p>
            <p><a href="#" class="btn btn-default" role="button">了解更多&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="~/images/HOU.jpg" width="160" height="160">
            <h3>丹青澄心</h3>
            <p>侯勝賢彩墨畫展</p>
            <p><a href="#" class="btn btn-default" role="button">了解更多&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="~/images/Comedy.jpg" width="160" height="160">
            <h3>這一夜，誰來說相聲</h3>
            <p>表演工作坊風華再現</p>
            <p><a href="#" class="btn btn-default" role="button">了解更多&raquo;</a></p>
        </div>

    </div>
</div>
